# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.db
*.sqlite3

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Project specific
comic_gen/
backend/static/
backend/comic_app.db
backend/*.db
backend/static/*.png

# Alembic
backend/alembic.ini
backend/alembic/
.trae/